.page-catalog-menu {
    width: 100%;
    max-width: 1340px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3%;
}

.page-catalog-menu-left {
    margin-left: 20px;
    margin-right: 40px;
}

.page-catalog-menu-right {
    margin-right: 20px;
}

.page-catalog-menu-adapter {
    width: 130px;
    display: flex;
    margin-bottom: 20px;
}

.page-catalog-menu-adapter p {
    margin: 0 5px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
}

.page-catalog-menu-adapter a {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
}

.page-catalog-category h4 {
    font-family: Roboto;
    font-size: clamp(15px, 2vw, 22px);
    font-weight: 600;
    margin-bottom: 20px;
}

.page-catalog-category button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    background-color: #E4DCD5;
    cursor: pointer;
}

.page-catalog-menu-right {
    display: grid;
    
}

.page-catalog-menu-right img {
    width: 100%;
    height: 122px;
    object-fit: cover;
    border-radius: 12px;
    grid-area: 1 / 1;
}

.page-catalog-manu-text {
    grid-area: 1 / 1;
    display: flex;
    align-items: center;
    padding-left: 40px;
    max-width: 320px;
}

.page-catalog-manu-text h1 {
    font-size: clamp(20px, 2vw, 30px);
}

.page-catalog-manu-text span {
    font-size: clamp(10px, 2vw, 15px);
    margin-top: 10%;    
}


.page-catalog-products {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    margin-top: 5%;
}

.pr1 {
    margin-left: 20px;
}

.pr2 {
    margin-right: 20px;
}

.page-catalog-product-ch1,
.page-catalog-product-ch2 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
    margin-bottom: 3%;
}

.page-catalog-product {
    width: 50%;
    height: 300px;
    background-color: #E4DCD5;
    border-radius: 12px;
}

.page-catalog-img-product-wrapper {
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.page-catalog-img-product {
    max-width: 100%;
    height: 98px;
    object-fit: cover;
    border-radius: 12px;
}

.page-catalog-description {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.page-catalog-about-products {
    margin-left: 40px;
}

.page-catalog-about-products a {
    font-size: clamp(14px, 2vw, 24px);
    font-family: Roboto;
    color: #413731;
    font-weight: 200;
}

.page-catalog-about-products p {
    margin-top: 3%;
    width: 100%;
    max-width: 300px;
    font-size: clamp(10px, 2vw, 14px);
}

.page-product-specifications {
    width: 50%;
    margin-right: 40px;
}

.page-product-specifications p {
    font-size: clamp(10px, 2vw, 12px);
    text-align: center;
}

.catalog-line-bottom {
    width: 100%;

    height: 8px;
    background-color: #D0C1B3;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 12px;
    position: relative;
}

.catalog-line-top {
    height: 8px;
    background-color: #A55F4F;
    border-radius: 12px;
}

.new-buy p {
    font-weight: bold;
    font-size: clamp(10px, 2vw, 15px);
}

@media (max-width:800px) {
    .page-catalog-product-ch1,
    .page-catalog-product-ch2 {
        flex-wrap: wrap;
    }

    .page-catalog-product {
        width: 100%;
    }

    .pr1,
    .pr2 {
        margin: 0 20px;
    }
}